<!DOCTYPE html>
<html data-bs-theme="light" lang="en">
{% extends 'base.html' %}
{% block content %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Analysis - Brand</title>
    <link rel="stylesheet" href="../../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Inter:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800&amp;display=swap">
</head>

<body>

    <section class="py-5">
        <div class="container py-5">
            <div class="row mb-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <h2 class="fw-bold"></h2>
                    <p class="fw-bold text-success mb-2" style="font-size: 24px;">Email Analysis</p>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div>
                        <form class="p-3 p-xl-4" method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                {{ form.email_subject }}
                            </div>
                            <div class="mb-3">
                                {{ form.email_content }}
                            </div>
                            <div class="d-grid">
                                <button class="btn btn-primary shadow d-block w-100" type="submit">Analyze</button>
                            </div>
                        </form>
                        {% if prediction %}
                            <div class="alert alert-info mt-3">Prediction: {{ prediction }}</div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="../../static/bootstrap/js/bootstrap.min.js"></script>
    <script src="../../static/js/bold-and-dark.js"></script>
</body>
{% endblock %}
</html>